.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 6rem 4.8rem;

	position: sticky;
	top: 0;
	z-index: 1000;
}

.header.white a {
	color: white;
}

.section {
	&__hero {
		height: auto;
		min-height: 90vh;
		padding: 4.8rem 8.2rem;
		overflow: hidden;
	}

	&__intro {
		background-image: linear-gradient(
			to right bottom,
			var(--color-primary),
			var(--color-primary-dark)
		);
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 4.8rem;
		justify-content: center; /* center vertically */
		align-items: center; /* center horizontally */
		height: 100vh; /* take full viewport height */
		gap: 5rem;
		text-align: center;
	}

	&__services {
		height: 210vh;
		padding: 10rem 0;
	}

	&__works {
		min-height: 100vh;
		padding: 8rem 2rem;
		margin: 0 auto;
		overflow: visible;
	}

	&__team {
		height: 90vh;
		width: 100%;
		position: relative;
		padding: 4rem;
		margin-top: 100rem;
	}

	&__testimonials {
		height: 90vh;
		width: 100%;
		position: relative;
		padding: 4.8rem;
		margin-top: 7.2rem;
		overflow: hidden;
	}

	&__cta {
		height: 100vh;
		padding: 4.8rem;
	}
}

.hero {
	padding: 5rem;
	position: relative;

	&__textbox-2 {
		width: 70vw;
		text-align: center;
		position: relative;
		left: 0;
		margin-top: 2rem;
	}
}

// Footer
.footer {
	background-image: radial-gradient(
		circle at 50% 50%,
		var(--color-primary),
		var(--color-primary-dark)
	);
	color: white;
	padding: 6rem 8rem;
	text-align: center;
	margin-top: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
